.personas{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

@media screen and (min-width:0) {
    .personas{
flex-direction: column;
    }

}

@media screen and (min-width:1000px) {  /*Le puse mil pixeles porque 782 quedan cortadas*/
    .personas{
        flex-direction: row
    }

}
